//
// DEFAULT
// =============================================================================
// no classes here, only element selectors
//

* {
	@include box-sizing(border-box);
}

html {
	height: 100%;
	background-color: $bg-color;
	overflow: hidden;
}

body {
	@include font-smoothing(on);
	position: relative;
	min-height: 100%;
	font-family: $arial;
	font-size: $base-font-size;
	line-height: $base-line-height;
	background-color: $bg-color;
	color: $black;
}

h1,
h2,
h3,
h4,
h4,
h5,
h6 {
	margin-top: 0;
	font-style: normal;
	font-weight: normal;
	line-height: 1.3;
}

h1 {
	font-size: $h1-size;
}

h2 {
	font-size: $h2-size;
}

h3 {
	font-size: $h3-size;
}

h4 {
	font-size: $h4-size;
}

h5 {
	font-size: $h5-size;
}

h6 {
	font-size: $h6-size;
}

figure,
picture {
	display: block;
	margin: 0;

	a {
		display: block;
	}

	img {
		display: block;
		max-width: 100%;
		height: auto;
		margin-right: auto;
		margin-left: auto;
	}
}

a {
	transition: $default-speed $default-easing color;

	@include mq-min($large) {
		@include adjust-link-color($link-color, $link-hover-color, $link-color);
	}
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
	@include box-sizing(border-box);
	padding: $half-spacing-unit;
	border: 1px solid $white;
	border-radius: 0;
	box-shadow: none;
	appearance: none; // to remove rounded search fields and other default behaviour on iOS
}
