.nav {
	display: flex;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	height: 60px;
	padding: 10px 0;
	// border-top: 1px solid $grey;
	box-shadow: 0 1px 2px rgba($black, .47);
	background: rgba($white, .9);
	z-index: 1000;
	justify-content: space-around;

	.swiper-pagination-bullet {
		display: block;
		width: 40px;
		height: 40px;
		border-radius: 0;
		background-color: $transparent;
		background-repeat: no-repeat;
		background-position: center;
		opacity: .6;

		&.swiper-pagination-bullet-active {
			opacity: 1;
		}	
		
		&.swiper-pagination-bullet--1 {
			background-image: url('data:image/svg+xml;utf8,<svg width="33px" height="19px" viewBox="0 0 33 19" xmlns="http://www.w3.org/2000/svg">
				<g fill="' + $grey-darkest + '">
					<path d="M16.47 19L8.64 1.995c-.19-.4-.362-.74-.514-.913-.247-.284-.57-.38-1.48-.38H6V0h10.298v.703h-.36c-.76 0-.894.02-1.16.057-.46.075-.706.342-.706.74 0 .34.153.76.59 1.747l4.37 9.804 4.065-9.17c.287-.643.76-1.69.76-2.26 0-.702-.456-.91-2.165-.91h-.152V0h5.93v.703h-.19c-.685 0-.875.02-1.123.076-.397.11-.588.36-.968 1.21L17.47 19h-1z" />
				</g>
				</svg>');

			&.swiper-pagination-bullet-active {
				background-image: url('data:image/svg+xml;utf8,<svg width="33px" height="19px" viewBox="0 0 33 19" xmlns="http://www.w3.org/2000/svg">
					<g fill="' + $black + '">
						<path d="M16.47 19L8.64 1.995c-.19-.4-.362-.74-.514-.913-.247-.284-.57-.38-1.48-.38H6V0h10.298v.703h-.36c-.76 0-.894.02-1.16.057-.46.075-.706.342-.706.74 0 .34.153.76.59 1.747l4.37 9.804 4.065-9.17c.287-.643.76-1.69.76-2.26 0-.702-.456-.91-2.165-.91h-.152V0h5.93v.703h-.19c-.685 0-.875.02-1.123.076-.397.11-.588.36-.968 1.21L17.47 19h-1z" />
					</g>
					</svg>');		
			} 
		}

		&.swiper-pagination-bullet--2 {
			background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="33px" height="19px" viewBox="0 0 33 19">
			    <g fill="' + $grey-darkest + '">
			        <path d="M12.47 19L4.64 1.995c-.19-.4-.362-.74-.514-.913-.247-.284-.57-.38-1.48-.38H2V0h10.298v.703h-.36c-.76 0-.894.02-1.16.057-.456.075-.703.342-.703.74 0 .342.152.76.59 1.748l4.37 9.804L19.1 3.874c.286-.645.76-1.69.76-2.26 0-.704-.456-.912-2.166-.912h-.15V0h5.927v.703h-.19c-.682 0-.872.02-1.12.076-.4.112-.59.36-.97 1.214L13.48 19H12.47zm8.96-5.77v-1.855h3.77V7.63h1.838v3.745h3.77v1.854h-3.77V17H25.2v-3.77h-3.77z" />
			    </g>
				</svg>');

			&.swiper-pagination-bullet-active {
				background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="33px" height="19px" viewBox="0 0 33 19">
				    <g fill="' + $black + '">
				        <path d="M12.47 19L4.64 1.995c-.19-.4-.362-.74-.514-.913-.247-.284-.57-.38-1.48-.38H2V0h10.298v.703h-.36c-.76 0-.894.02-1.16.057-.456.075-.703.342-.703.74 0 .342.152.76.59 1.748l4.37 9.804L19.1 3.874c.286-.645.76-1.69.76-2.26 0-.704-.456-.912-2.166-.912h-.15V0h5.927v.703h-.19c-.682 0-.872.02-1.12.076-.4.112-.59.36-.97 1.214L13.48 19H12.47zm8.96-5.77v-1.855h3.77V7.63h1.838v3.745h3.77v1.854h-3.77V17H25.2v-3.77h-3.77z" />
				    </g>
					</svg>');		
			}		
		}

		&.swiper-pagination-bullet--3 {
			background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="33px" height="19px" viewBox="0 0 33 19">
			    <g fill="' + $grey-darkest + '">
			        <path d="M15.0230769,18.6267857 C14.0192308,18.8982143 13.05,19 12.0807692,19 C11.1115385,19 10.1423077,18.8303571 9.17307692,18.4910714 C8.20384615,18.1517857 7.33846154,17.7107143 6.57692308,17.1339286 C5.81538462,16.5571429 5.15769231,15.8785714 4.63846154,15.1321429 C4.11923077,14.3517857 3.77307692,13.5375 3.66923077,12.6553571 L3.66923077,5.59821429 L0,5.59821429 L0,0 L13.3615385,0 L13.3615385,5.63214286 L9.69230769,5.63214286 L9.69230769,11.9428571 C9.69230769,12.4857143 9.9,12.8928571 10.2807692,13.1642857 C10.6615385,13.4357143 11.0769231,13.5714286 11.5615385,13.5714286 C12.1846154,13.5714286 12.7038462,13.4357143 13.1192308,13.1982143 C13.5346154,12.9607143 13.95,12.6553571 14.3307692,12.3160714 L17.7576923,16.9982143 C16.9269231,17.8125 16.0269231,18.3553571 15.0230769,18.6267857 L15.0230769,18.6267857 L15.0230769,18.6267857 L15.0230769,18.6267857 Z" id="Shape"></path>
			    </g>
				</svg>');

			&.swiper-pagination-bullet-active {
				background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="33px" height="19px" viewBox="0 0 33 19">
				    <g fill="' + $black + '">
				        <path d="M15.0230769,18.6267857 C14.0192308,18.8982143 13.05,19 12.0807692,19 C11.1115385,19 10.1423077,18.8303571 9.17307692,18.4910714 C8.20384615,18.1517857 7.33846154,17.7107143 6.57692308,17.1339286 C5.81538462,16.5571429 5.15769231,15.8785714 4.63846154,15.1321429 C4.11923077,14.3517857 3.77307692,13.5375 3.66923077,12.6553571 L3.66923077,5.59821429 L0,5.59821429 L0,0 L13.3615385,0 L13.3615385,5.63214286 L9.69230769,5.63214286 L9.69230769,11.9428571 C9.69230769,12.4857143 9.9,12.8928571 10.2807692,13.1642857 C10.6615385,13.4357143 11.0769231,13.5714286 11.5615385,13.5714286 C12.1846154,13.5714286 12.7038462,13.4357143 13.1192308,13.1982143 C13.5346154,12.9607143 13.95,12.6553571 14.3307692,12.3160714 L17.7576923,16.9982143 C16.9269231,17.8125 16.0269231,18.3553571 15.0230769,18.6267857 L15.0230769,18.6267857 L15.0230769,18.6267857 L15.0230769,18.6267857 Z" id="Shape"></path>
				    </g>
					</svg>');		
			}		
		}

		&.swiper-pagination-bullet--4 {
			background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="33px" height="19px" viewBox="0 0 33 19">
			    <g fill="' + $grey-darkest + '">
			        <path d="M12.8567491,3.90543073 L12.8413432,18.9459784 L9.05608489,17.6353764 L9.02944296,0.0343925677 L13.8611013,1.39433041 C16.9538928,2.27924899 18.8465888,3.99941657 18.815809,7.01413887 C18.7850674,10.5204605 17.1692371,11.8807321 14.4325751,10.5984889 L14.4325751,4.09765169 C14.4325751,3.13860101 12.8567491,2.43832264 12.8567491,3.90543073 L12.8567491,3.90543073 L12.8567491,3.90543073 L12.8567491,3.90543073 Z"></path>
			        <path d="M8.2576297,10.7293642 L7.68840953,10.9142868 L2.1788244,12.9069568 C1.01897506,13.4432382 0.0502026524,13.7900845 0.0440657824,14.6638662 C0.0731522545,15.7698845 1.79213793,16.3080145 4.30915227,16.7319328 C5.65046579,17.0030166 7.02082121,16.8213098 8.19409656,16.5706703 L8.19505146,14.4867618 C8.19505146,14.4867618 6.02008489,15.3390659 5.50255065,15.4099885 L4.45604245,15.4042115 C3.67914906,15.3999108 3.31736658,14.8981247 4.09125519,14.6290693 L8.25691034,13.039578 L8.2576106,10.7293963 L8.2576297,10.7293642 L8.2576297,10.7293642 L8.2576297,10.7293642 Z"></path>
			        <path d="M18.0478982,11.6681054 C16.6014048,11.6632912 14.5982451,12.0607314 13.6051926,12.5265395 L13.6051926,14.9017064 L16.2236499,13.9362368 L18.2977719,13.2713459 C20.457931,12.9127081 21.3167554,13.6732666 19.2127703,14.3089578 L13.6053454,16.3779101 L13.5985209,18.6811723 L21.7913061,15.7092257 C22.6954504,15.3913159 23.9670303,14.7494753 23.9700859,13.9605902 C23.7506355,12.7391983 21.9285135,12.0264223 19.0987926,11.7242902 C18.8449846,11.697902 18.5899353,11.6813605 18.3365984,11.6737155 C18.2400827,11.6708912 18.1441846,11.6683878 18.0477581,11.6680669 L18.0478982,11.6681054 L18.0478982,11.6681054 L18.0478982,11.6681054 Z"></path>
			    </g>
				</svg>');

			&.swiper-pagination-bullet-active {
				background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="33px" height="19px" viewBox="0 0 33 19">
				    <g fill="' + $black + '">
				        <path d="M12.8567491,3.90543073 L12.8413432,18.9459784 L9.05608489,17.6353764 L9.02944296,0.0343925677 L13.8611013,1.39433041 C16.9538928,2.27924899 18.8465888,3.99941657 18.815809,7.01413887 C18.7850674,10.5204605 17.1692371,11.8807321 14.4325751,10.5984889 L14.4325751,4.09765169 C14.4325751,3.13860101 12.8567491,2.43832264 12.8567491,3.90543073 L12.8567491,3.90543073 L12.8567491,3.90543073 L12.8567491,3.90543073 Z"></path>
				        <path d="M8.2576297,10.7293642 L7.68840953,10.9142868 L2.1788244,12.9069568 C1.01897506,13.4432382 0.0502026524,13.7900845 0.0440657824,14.6638662 C0.0731522545,15.7698845 1.79213793,16.3080145 4.30915227,16.7319328 C5.65046579,17.0030166 7.02082121,16.8213098 8.19409656,16.5706703 L8.19505146,14.4867618 C8.19505146,14.4867618 6.02008489,15.3390659 5.50255065,15.4099885 L4.45604245,15.4042115 C3.67914906,15.3999108 3.31736658,14.8981247 4.09125519,14.6290693 L8.25691034,13.039578 L8.2576106,10.7293963 L8.2576297,10.7293642 L8.2576297,10.7293642 L8.2576297,10.7293642 Z"></path>
				        <path d="M18.0478982,11.6681054 C16.6014048,11.6632912 14.5982451,12.0607314 13.6051926,12.5265395 L13.6051926,14.9017064 L16.2236499,13.9362368 L18.2977719,13.2713459 C20.457931,12.9127081 21.3167554,13.6732666 19.2127703,14.3089578 L13.6053454,16.3779101 L13.5985209,18.6811723 L21.7913061,15.7092257 C22.6954504,15.3913159 23.9670303,14.7494753 23.9700859,13.9605902 C23.7506355,12.7391983 21.9285135,12.0264223 19.0987926,11.7242902 C18.8449846,11.697902 18.5899353,11.6813605 18.3365984,11.6737155 C18.2400827,11.6708912 18.1441846,11.6683878 18.0477581,11.6680669 L18.0478982,11.6681054 L18.0478982,11.6681054 L18.0478982,11.6681054 Z"></path>
				    </g>
					</svg>');	
			}		
		}
	}
}
